
* {
    margin:0;
    padding:0;
   box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

.container {
    width: 100%;
    height: 80vh;
    background-image: url(pngtree.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 5%;
    position: relative;
}


a:link {
    text-decoration: none;
    }

nav{display: flex;
width: 100%;
align-items: center;
flex-wrap: wrap;
padding: 5px 0 ;
}
.logo {
    width:30% ;
    cursor: pointer;
    margin: -36px 0 38px -74px;
}

nav ul {
   flex:1;
text-align: right;
padding: 0px 20px 57px 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{font-size: 25px;
    color:#483948;
    text-decoration: none;

}

nav ul li a:hover {color: #B54213;}

.pic{width: 400px;
    box-shadow: #B54213;
    margin: -205px 700px ;}

.text-box{color: #483948;
          display: flex;
        width:50%;
    flex-wrap:wrap;
    margin: -100px 0 0 50px;}

    .text-box h1{color: transparent;
    -webkit-text-stroke: 1px #483948;
    background: url(diagonal-removebg-preview.png);
     -webkit-background-clip:text ;
     line-height: 40px;
    background-position: 0 0;
animation: back 20s linear infinite;}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.btn {
    background-color: #B54213;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 15px;
    margin: -61px 0 0 41px;
}

    .Education{ 
        width:87%;
        height: 80vh;
        background-image: url(pngtree.jpg);
       /* background-color: black;*/
        background-size: cover;
        background-position: center;
        padding: 0 5%;
        margin: 1% 101px;;
        position: relative;
    display: flex;}

   
    #title{
         width: 50%;
        height: 23vh;
        margin: 22px 0 0 250px;}

        #E{ margin: 77px -463px 0;
           position: relative;
           color: transparent;
           -webkit-text-stroke: 1px #483948 ;
            background: url(diagonal-removebg-preview.png);
            -webkit-background-clip:text ;
             line-height: 40px;
            background-position: 0 0;
            animation: back 20s linear infinite;
        font-size: 51px;
        background-color: white;}

    .wrap{    width: 80%;
        margin-top: 130px;
        display: flex;
    }    

.card{box-shadow: 8px 9px #B54213;
    transition: 0.4s;
    width: 300px;
    height: 45vh;
    background-color: white;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
}

#card1{ margin: 85px 0 0 -73px;}
#card2{margin: -308px 0 0 362px;}
#card3{margin: -280px 0 0 357px;}

#Experience{ width:87%;
    height: 80vh;
  background:url(pngtree.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 5%;
    margin: 1% 101px;;
    position: relative;
display: flex}




#image{width: 30%;
    margin: 48px 0 0px 358px;
    color: transparent;
    -webkit-text-stroke: 1px #483948;
    background: url(diagonal-removebg-preview.png);
     -webkit-background-clip:text ;
     line-height: 40px;
    background-position: 0 0;
animation: back 20s linear infinite;
font-size: 51px;
background-color: white;

}

.cardEX{box-shadow: 8px 9px #B54213;
    transition: 0.4s;
    width: 300px;
    height: 45vh;
    background-color: white;;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;}

    #card4{margin: 60px -404px 0 89px;
        }
    #card5{margin: -311px 0 0 -597px;}

    .project{width: 1330px;
        height: 80vh;
        background-image: url(pngtree.jpg);
        background-size: cover;
        background-position: center;
        margin: 100px;
        display: flex;
        margin: 74px 0 0 -805px;}

        #image1{
            color: transparent;
    -webkit-text-stroke: 1px #483948 ;
    background: url(diagonal-removebg-preview.png);
     -webkit-background-clip:text ;
     line-height: 40px;
    background-position: 0 0;
animation: back 20s linear infinite;
font-size: 60px;
background-color: white;
            padding-top: 10px;
            margin: 32px 512px
        }

        .fa-graduation-cap{color: #483948;
            font-size: 106px;
            margin: 29px 0 0 265px;
            position: absolute;}

        #card6{margin: 60px 0 0 -1108px;}
        #card7{margin: -283px 0 0 629px;}

        #footer{width: 1330px;
            height: 20vh;
            background-image: url(pngtree.jpg);
          
            background-size: cover;
            background-position: center;
            margin: 100px;
            display: flex;
            margin: 74px 0 0 -123px;}

            .fa-phone{
                color:  #483948;
                font-size: 30px;
                margin: 35px 266px;}
                
                #F{color:  #483948;
                    margin: 76px 0 0 -339px;
                }
            .fa-envelope{ color:  #483948;
                font-size: 30px;
                margin: 35px 159px;}

           #M{color:  #483948;
            margin: 76px 0 0 -276px;}

        .fa-github{ color:  #483948;
            font-size: 40px;
            margin: 35px 111px;}

          .fa-linkedin  {color:  #483948;
                font-size: 40px;
                margin: 38px 39px;   
            }

          .fa-business-time{color: #483948;
            font-size: 58px;
            margin: 35px 0 0 284px;
            position: absolute;}

            .fa-diagram-project{color: #483948;
    font-size: 61px;
    margin: 33px 0 0 441px;
    position: absolute;
}